{% extends './base.html' %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'StuSubject.css' %}"> {% endblock %}

{% block navItem %}
<li class="nav-item">
    <a href="{% url 'index' %}" class="nav-link">Home</a>
</li>
<li class="nav-item">
    <a href="{% url 'stuhome' admin_no %}" class="nav-link">go to dashboard</a>
</li>                  
{% endblock %}

{% block page %}
<div class="container-fluid p-3 bg-success text-white subj">
    <h2>Your Subjects to Register</h2>
    <ul>
        {% for sub in student.dept_id.subject_set.all %}
        <li>{{sub.name}}</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}